body {
	background: lightgreen;
	font-family: helvetica, arial, sans-serif;
}

header {
	background: rgba(255,255,255, .5);
	border-radius: 10px;
	padding: 0 40px 0 40px;
	overflow: hidden;
}

#maintitle {
	width: 75%;
	float: left;
}

#splash {
	width: 25%;
	float: left;
	display: table;
}


h1, h3 {
	margin: 0;
	font-family: "Days One", sans-serif;
}

h1 {
	font-size: 60px;
	text-shadow: 3px 3px 0px white, 7px 7px 0px lightgreen
}

h2 {
	text-align: center;
	margin: 0;
}

h3 {
	position: relative;
	top: 20px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-opera-transform: rotate(20deg);
	text-align: center;
	background-color: white;
	font-size: 24px;
	text-shadow: 2px 2px 0px white, 4px 4px 0px lightgreen;
	padding-bottom: 5px;
}

#container {
	width: 960px;
	margin:0 auto;
}

#form {
	background: rgba(255, 255, 255, .5);
	width: 40%;
	float: left;
	box-shadow: 5px 5px 5px black;
}

#innerform {
	margin: 10px;
}

label {
	font-size: 20px;
	margin-top: 10px auto;
}

input {
	font-size: 24px;
}

#submitCity {
	font-size: 24px;
}

#clockslist {
	width: 60%;
	float: left;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

#cities {
	padding-left: 25px;
}

.city {
	font-family: monospace;
	font-size: 28px;
	background: white;
	border-radius: 10px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 30px;	
	text-align: right;
	box-shadow: 5px 5px 5px black;
}

.icon-remove-sign {
	opacity: .3;
	margin-left: 10px;

}

.icon-remove-sign:hover{
	opacity: .8;
	color: red;
}
