body {
	background: lightgreen;
	font-family: helvetica, arial, sans-serif;
}

h1, h3 {
	margin: 0;
}

h1 {
	font-size: 60px;
	text-shadow: 3px 3px 0px lightgreen, 7px 7px 0px white;
}

h3 {
	font-size: 24px;
	text-shadow: 2px 2px 0px lightgreen, 4px 4px 0px white;
}

#container {
	width: 960px;
	margin:0 auto;
}

#form {
	background: LemonChiffon;
	width: 40%;
	float: left;
	box-shadow: 5px 5px 5px black;
}

#innerform {
	margin: 10px;
}

label {
	font-size: 20px;
	margin-top: 10px auto;
}

#submitCity {
	font-size: 24px;
	

}

#clockslist {
	width: 60%;
	float: left;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

#cities {
	padding-left: 25px;
}

.city {
	font-family: monospace;
	font-size: 28px;
	background: white;
	border-radius: 10px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 30px;	
	text-align: right;
	box-shadow: 5px 5px 5px black;
}

.icon-remove-sign {
	opacity: .3;
	margin-left: 10px;

}

.icon-remove-sign:hover{
	opacity: .8;
	color: red;
}
